.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.userData {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.userDetails {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}



.thumbnail {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
}